
<router-outlet>

<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
    rel="stylesheet">

  <title>Advocate</title>
</head>

<div class="body">
  <img id="avatar" class="sticky" src="../assets/images/Logo.png">
  <div id="theWorldWideDiv">
      <div class="navbar-container">
    <div id="titlebar">
      <h1 id="logo">Advocate</h1>
      <button id="toggle"></button>
      <div id="buttons">
        <a href="" class="titlebuttons">How it Works</a>
        <a href="" class="titlebuttons">Guardrails</a>
        <a href="" class="titlebuttons">Pricing</a>
        <a href="" class="logintitlebuttons" >Login</a>
      </div>
    </div>

    <div id="mobileNav" class="sidenav">
      <a href="" class="closebtn"></a>
      <div id="spacer"></div>
      <a href="" class="titlebuttons2">About</a>
      <a href="" class="titlebuttons2">Services</a>
      <a href="" class="titlebuttons2">Clients</a>
      <a href="" class="titlebuttons2">Contact</a>
    </div>
  </div>

    <div class="panel">
      <h1 id="mainTitle">How it Works</h1>
      <div id="bodyone">
          <ul class="works_list">
           <li>Make an account</li> <br> <br>
           <li>Specify what comments you want Advocate to respond to</li> <br> <br>
           <li>specify how you would like Advocate to respond, and provide context for you application</li> <br> <br>
           <li>Let Advocate speak on your behalf, either automatically or with approval for each message</li> <br> <br>
          </ul>

      </div>
    </div>
      <div class="panel">
        <h1 id="mainTitle">Guardrails</h1>
          <p>Advocate has an option which allows you to approve of each response before it is posted to the platform.</p>

      </div>
      <div class="panel">
        <h1 id="mainTitle">Pricing</h1>
          <p>Advocate has an option which allows you to approve of each response before it is posted to the platform.</p>

      </div>
     </div>
  </div>


<router-outlet />
